.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}